@model RzhadBids.ViewModels.RegisterViewModel


 <div class="wrapper">
	<div class="title">
		Форма реєстрації
	</div>
	<form action="/register" method="post">
	<div class="field">
		<input type="text" required name="Name">
		<label asp-for="Name"></label>
	</div>
	<span asp-validation-for="Name" class="text-danger"></span>
	<div class="field">
		<input type="text" required name="Surname">
		<label asp-for="Surname"></label>
	</div>
	<span asp-validation-for="Surname" class="text-danger"></span>
	<div class="field">
		<input type="text" required name="Email">
		<label asp-for="Email"></label>
	</div>
	<span asp-validation-for="Email" class="text-danger"></span>
	<div class="field">
		<input type="password" required name="Password">
		<label asp-for="Password"></label>
	</div>
	<span asp-validation-for="Password" class="text-danger"></span>
	<div class="field">
		<input type="password" required name="ConfirmPassword">
		<label asp-for="ConfirmPassword"></label>
	</div>
	<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
	
	<div class="field">
		<input type="submit" value="Зареєструватися">
	</div>
	</form>
</div> 