<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RzhadBids</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RzhadBids.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <header class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href='/'><span class="rzhad">Rzhad</span><span class="bids">Bids</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href='/lots'>Всі лоти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='/lots?unactive=true'>Результати лотів</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='/create'>Створити лот</a>
                    </li>

                    @if(User.Identity.IsAuthenticated) {
                        <li class="nav-item">
                            <a class="nav-link" href='/profile'>Профіль</a>
                        </li>
                        <form action="/logout" method="post" id="logout">
                            <li class="nav-item">
                                <a class="nav-link" onclick="$('#logout').submit()"  href='#'>Вийти</a>
                            </li>
                        </form>
                    } else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href='/login'>Вхід</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Реєстрація</a>
                        </li>                        
                    }
                </ul>
            </div>
        </div>
    </header>

    <div class="container">
         @RenderBody()
    </div>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/site.js"></script>
</body>
</html>
