@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css";

html {
    font-size: 20px;
    scroll-behavior: smooth;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    min-height: 100%;
}

body {
    margin-bottom: 50px;
    background-color: #181a2a;
}

.container {
    display: flex;
    align-items: center;
    align-self: center;
    min-width: 90%;
    justify-content: center;
}

.navbar-brand {
    font-family: 'Press Start 2P', cursive;
    font-size: 26px;
    margin-left: auto;
    margin-right: 40px;
}

.navbar-nav .nav-item {
    margin-right: 30px;
}

.navbar-brand .rzhad {
    color: #258cfb;
}

.navbar-brand .bids {
    color: #ffc107;
}

.navbar-nav li {
    font-family: 'Permanent Marker', cursive;
    font-size: 22px;
    color: yellow;
}

.navbar-nav {
    width: 100%;
}

.nav-item-log {
    margin-left: auto;
    margin-right: 30px;
}

@media (max-width: 1080px) {
    .navbar-brand {
        font-size: 18px;
        margin-left: 10px;
    }

    .navbar-toggler {
        display: block;
    }

    .navbar-collapse {
        display: none;
    }

    .navbar-nav .nav-item {
        margin-left: 10px;
    }

    .navbar-toggler.collapsed + .navbar-collapse {
        display: block;
    }
}

.pagedList {
    display: flex;
    justify-content: center;
}

    .pagedList a {
        padding: 5px 10px;
        margin: 0 2px;
        border: 2px solid #ccc;
        background-color: #f9f9f9;
        color: #333;
        text-decoration: none;
    }

    .pagedList .pagedList-selected {
        background-color: #007bff;
        color: #fff;
    }

.card-deck {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 10px;
    max-width: 800px; 
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    gap: 20px;
    max-width: 1200px; 
    margin: 0 auto; 
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}

.product-item {
    width: 300px;
    text-align: center;
    margin: 20px;
    border: 4px solid #808080;
    background: #fff;
    font-family: "Open Sans";
    transition: .3s ease-in;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

    .product-item:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
    }

    .product-item img {
        display: block;
        width: 100%;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }


.product-list {
    background: #fafafa;
    padding: 15px 0;
    border-radius: 0 0 12px 12px; 
}

    .product-list h3 {
        font-size: 20px;
        font-weight: 600;
        color: Black;
        margin: 0 0 10px 0;
    }

.price {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: Black;
    display: block;
    margin-bottom: 12px;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background: #1E90FF;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    border: 4px solid #ffd700;
    border-radius: 20px;
    transition: .3s ease-in;
}

.product-item:hover .button {
    background: #ffd700;
    color: #4169E1;
}

.product-list {
    background-color: #4169E1;
}

.row {
    margin: 50px;
}

.col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 994px) {
    .grid-container {
        grid-template-columns: 1fr; 
    }
}

.product-gallery .carousel {
    width: 300px;
    height: 270px;
    overflow: hidden; 
}

    .product-gallery .carousel .carousel-item img {
        width: 300px;
        height: 270px;
        width: auto;
        margin: 0 auto;
    }

.chat-container {
    max-width: 350px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.chat-box {
    height: 500px;
    overflow-y: auto;
    padding: 5px; 
}

.message {
    margin-bottom: 5px;
    padding: 5px 8px;
    border-radius: 3px;
    font-size: 14px;
}

.received {
    width: 50%;
    background-color: #f2f2f2;
    height: auto;
    word-wrap: break-word;
}

.sent {
    width: 50%;
    background-color: #0084ff;
    height: auto;
    word-wrap: break-word;
    color: #fff;
}

input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0084ff;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

    button:hover {
        background-color: #0056b3;
    }